@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color:forestgreen;">
    <h1 class="display-4">Добре дошли в онлайн системата за поръчка на училищен обяд за вашето дете!</h1>
</div>
