@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
  background-color: lightgoldenrodyellow;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>


<div class="text-center" style="color:forestgreen;">
    <h1 class="display-4">Добре дошли в онлайн системата за поръчка на училищен обяд за вашето дете!</h1>
</div>
