@{
    ViewData["Title"] = "Register";
}

 <div class="d-grid gap-2 mb-2">
    <a asp-controller="ParentUser" asp-action="Register" class="btn btn-outline-primary">Регистрация на родители</a>
</div>
 <div class="d-grid gap-2 mb-2">
    <a asp-controller="SchoolUser" asp-action="Register" class="btn btn-outline-success">Регистрация на училища</a>
</div>
