@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">Homies</h1>
    <p class="index-page-greeting-p">Your friendly neighbourhood app</p>

    <img src="~/img/home.png" style="width: 75vh" />
</div>
