@model List<TweetViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SoftUni's Tweeter</h1>
    <p>Create new tweet <a href="/Tweets/Create">HERE</a>.</p>
</div>

@foreach (var tweet in Model)
{
    <div>
        <srtong>@tweet.Username:</srtong> @tweet.Text <em>(@tweet.CreatedOn)</em>
    </div>

}