html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.c-item {
    height: 700px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
    border-radius: 200px;
    overflow: hidden;
}

.myCrad_img{
    padding: 35px 10px 10px 10px;
    
    max-height: 200px
}

.DemoUserLogin_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.light-blue-element {
    background-color: cyan;
    margin: 14px;
}

.light-blue-element:hover {
    background-color: blue;
    color: wheat;
}

.orange-element {
    background-color: #FFC107;
}

.orange-element:hover {
    background-color: orangered;
    color: wheat;
}

.hoverme {
    background-color: limegreen;
    margin: 14px;
}

.hoverme:hover {
    background-color: lime;
}