
@{
    ViewData["Title"] = "Numbers";
    int maxNumber = int.Parse(ViewData["MaxNumber"].ToString());
}

    <form action ="/Home/Numbers" method="post">

        Max number: <input name="id" placeholder="please enter max number" size="21" />
                    <input type="submit" value="Click Me!" />

    </form>


<h1>Numbers from 1 to @maxNumber</h1>
@for (int i = 1; i <= maxNumber; i++)
{
    <p>@i => @(i * i) => @Math.Sqrt(i)</p>
}
